<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="ColorAnalyzer"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- Main -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Calibration -->
        <activity
            android:name=".ui.CalibrationActivity"
            android:exported="false" />

        <!-- Calibration List -->
        <activity
            android:name=".ui.CalibrationListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.PredictionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CameraActivity"
            android:exported="false" />

    </application>

</manifest>
